.app {
  height: 100vh;
  overflow: hidden;
  display: flex;

  & > .sidebar {
    flex: 1;
    max-width: 300px;
    overflow-y: auto;
    //padding: 25px;
    display: flex;
    flex-flow: column;
    border-right: 1px solid #e0e0e0;

    & > .card {
      margin: 0;

      .status {
        align-items: center;
        display: flex;
      }
    }

    & > .collection {
      margin-top: 0;
      border: none;
    }
  }

  & > .dialogue {
    flex: 1;
    padding: 25px;

    & > .chat {
      background: #eee;
      height: 100%;
      overflow: hidden;
      border-radius: 5px;
      display: flex;
      flex-flow: column;

      & > .messages {
        flex: 1;
        //background: green;
        overflow-y: auto;
      }

      & > .text-input {
        border-top: 1px solid white;
        padding: 25px;
      }
    }
  }
}

