.app {
  height: 100vh;
  overflow: hidden;
  display: flex;

  select {
    display: block;
  }


  .rotate {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  & > .sidebar {
    flex: 1;
    max-width: 300px;
    overflow-y: auto;
    //padding: 25px;
    display: flex;
    flex-flow: column;
    border-right: 1px solid #e0e0e0;

    .new-channel {
      margin: 1rem auto;
    }

    & > .card {
      margin: 0;

      .status {
        align-items: center;
        display: flex;
      }
    }

    & > .collection {
      margin-top: 0;
      border: none;

      & > li.collection-item {
        cursor: pointer;
        font-weight: 300;

        &:hover {
          background: #a9a9a9;
        }

        &.active {
          background: #5a7a94;
          font-weight: 600;
        }
      }
    }
  }

  & > .dialogue {
    flex: 1;
    padding: 25px;

    & > .chat {
      background: #eee;
      height: 100%;
      overflow: hidden;
      border-radius: 5px;
      display: flex;
      flex-flow: column;

      & > .messages {
        flex: 1;
        overflow-y: auto;

        & > .message {
          margin: 25px;

          & > .text {
            background: white;
            padding: 0.5rem .75rem;
            display: inline-block;
            border-radius: 7px;
          }

          & > .header {
            font-size: .9rem;
            margin-bottom: .25rem;

            & > .time {
              font-weight: 300;
              margin-left: 1rem;
            }

            & > .sender {
              font-weight: bold;
            }
          }

        }
      }

      & > .text-input {
        border-top: 1px solid white;
        padding: 25px;

        & > textarea {
          background-color: white;
          border-radius: 5px;
          border: 1px solid #ccc;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}